
<%= form_for :alarm,:html => {:id => "alarm_form"}, url: alarm_path(@alarm), method: :patch do |f| %>

  <%= f.hidden_field :wakeup_hour, :value => 00 %>
  <%= f.hidden_field :wakeup_minute, :value => 00 %>
  <%= f.hidden_field :wakeup_ampm, :value => 'AM' %>
  <%= f.hidden_field :sleep_reminder_time %>
  <%= f.hidden_field :sleeping_hour %>
  <%= f.hidden_field :sleeping_minute %>
  <%= f.hidden_field :sleeping_ampm %>
  <div class="time_dashboard row ">
    <div id="currentTime_header" class="col-xs-12 time-tracker">
      <h1>
        <font>12:00 pm</font>
        <small>WED 30 January 2014</small>
      </h1> 
      <hr>
    </div>

  </div>

    <div class="col-xs-12 col-time-input">
      <form class="form-inline timeForm">
        <div style="display:inline;">
          <span> I want to</span> <select id="alarm-options"> <option>wakeup</option> <option>sleep</option> </select></div>
        <div class='bootstrap-timepicker' style='display: inline;'>
          <span> at</span>
          <input id="timepicker"class='dateselect-time input-small timepicker' type='text'>
        </div>
      </form>

      <!-- toggle reminders to swap then reveal content-->
      <div class="reminder1 remind" hidden>
        alarm type: <%= f.select(:wakeup_reminder_type, ['call', 'sms', 'none'])%>
    </div>
    <div class="reminder2 remind" hidden>
      alarm type: <%=  f.select(:sleep_reminder_type, ['call', 'sms', 'none'])%> &nbsp;&nbsp; <br>
      before: <%= f.select( :sleep_reminder_time, options_for_select((0..60).step(5))) %><%= f.select(:sleep_reminder_time_unit, ['minutes', 'hours'])%>&nbsp; 
    </div>


  </div>
  <div class="col-xs-12">
    <div class="timelist times">
      <div class="timelist-recommend timelist" hidden></div>
      <div class="timelist-dir timelist" hidden></div>
      <div class="timelist-div timelist" hidden>
        <ol>
          <li id="y0" name="time" class="timeItem" > <span class="details"> </span> </li>
          <li id="y1" name="time" class="timeItem"> <span class="details"> </span> </li>
          <li id="y2" name="time" class="timeItem"> <span class="details"> </span> </li>
          <li id="y3" name="time" class="timeItem"> <span class="details"> </span> </li>
        </ol>
      </div>
    </div>
  </div>

  <!-- only display when users give sleeptime -->
  <div class="col-xs-12 timelist-footer" hidden>
    <div class="reminder1 remind" hidden>
      alarm type: <%=  f.select(:sleep_reminder_type, ['call', 'sms', 'none'])%> &nbsp;&nbsp;<br>
      before:     <%= f.select( :sleep_reminder_time, options_for_select((0..60).step(5))) %> minutes&nbsp; 
    </div>
  </div>
  <div class="col-xs-12 timelist-footer" hidden>  
    repeat every: <br> 
    <div id="checkbox-list-days">
      <label class="checkbox-inline"> <%= f.check_box :repeat_sunday %> sun</label>
      <label class="checkbox-inline"> <%= f.check_box :repeat_monday %> Mon</label>
      <label class="checkbox-inline"> <%= f.check_box :repeat_tuesday %> Tue</label>
      <label class="checkbox-inline"> <%= f.check_box :repeat_wednesday %> Wed</label>
      <label class="checkbox-inline"> <%= f.check_box :repeat_thursday %> Thur</label>
      <label class="checkbox-inline"> <%= f.check_box :repeat_friday %> Fri</label>
      <label class="checkbox-inline"> <%= f.check_box :repeat_saturday %> Sat</label>
    </div>
  </div>
  <div class="col-xs-12 form-inline timelist-footer" hidden> <span>title:</span> <%= f.text_field :title %></div>
  <div class="col-xs-12 timelist-footer" hidden> <button type="button" class="btn btn-default" onclick="saveData()">Save</button></div>
</div>
<% end %>

<script type="text/javascript">
/* initialize */
$('body').on('click', 'input[name=time]:checked',function (e) {
 console.log("clicked"); 
$(".timelist-footer").show(); 
   
});

  $('#timepicker').timepicker();
  $('#timepicker').timepicker().on('hide.timepicker', function(e) {
    e.preventDefault();
    console.log('The time is ' + e.time.value);
    console.log('The hour is ' + e.time.hour);
    console.log('The minute is ' + e.time.minute);
    console.log('The meridian is ' + e.time.meridian);
    _showTimes();

  });

$('.timeForm').submit(function(e) {
  e.preventDefault();
  $(':focus').trigger('blur');
});



function _showTimes () {
  if( $("#timepicker").val == '') return;
  var t = new TimePicker();
  var a = new Alarm(t.time(), $('#alarm-options').val());
  if ($('#alarm-options').val() == 'wakeup')  
    WakeTime(a); 
  else  
    SleepTime(a); 
  a.calculateTimes();
  timelistHTML = a.getTimesInHTML();
  a.setTimeline();
  $('.timelist').show();


};
function saveData()
{
  input_time = $("#timepicker").val();
  type = $("#alarm_alarm_type option:selected").text();
  hour = $(".bootstrap-timepicker-hour").val();
  min  = $(".bootstrap-timepicker-minute").val();
  ampm = $(".bootstrap-timepicker-meridian").val();  


  // Reverse time if sleep
  if ($('#alarm-options').val() == "sleep")
  {
    var alarmMeridian = $('input[name=time]:checked', '.timelist-div').attr('ampm');
    $("#alarm_wakeup_hour").val(_hourStart());
    $("#alarm_wakeup_minute").val(_minuteStart());
    $("#alarm_wakeup_ampm").val(alarmMeridian);
    $("#alarm_sleeping_hour").val(hour);
    $("#alarm_sleeping_minute").val(min);
    $("#alarm_sleeping_ampm").val(ampm);
  }
  else
  {
    $("#alarm_wakeup_hour").val(hour);
    $("#alarm_wakeup_minute").val(min);
    $("#alarm_wakeup_ampm").val(ampm);
    $("#alarm_sleeping_hour").val(_hourStart());
    $("#alarm_sleeping_minute").val(_minuteStart());
    $("#alarm_sleeping_ampm").val(_ampmStart());
  }
  $("#alarm_form").trigger("submit.rails"); 

};
</script>
<script src="http://s1.cdn.ryanboylett.co.uk/php.js/functions-min/datetime/date.min.js"></script>

<script type="text/javascript" charset="utf-8">

  var Dashboard =
{
  isTiming: true,
  current: 0,
  init: function()
  {
    Dashboard.setDate();
  },
  setDate: function()
  {
    $('.time-tracker h1 > font').html(date("g:i a"));
    $('.time-tracker h1 > small').html(date("D").toLowerCase()+ "&nbsp;"  + date("j F Y"));
  },
};

$(Dashboard.init); 


</script>


