
<script type="text/javascript">
  $( document ).ready(function() {
    $('#second_slide').hide();
    $('#second_click').hide();
    $('#checkbox-list-days').hide();


  });

  function nextSlide()
  {
    $('#first_slide').hide();
    $('#second_slide').show();
    $('#first_click').hide();
    $('#second_click').show();


  }


function initializePage () {
  $('#repeat_days:checkbox').click(function() {
    var $this = $(this);
    // $this will contain a reference to the checkbox   
    if ($this.is(':checked')) {
      $('#checkbox-list-days').slideDown( "fast");
    } else {
      $('#checkbox-list-days').slideUp( "fast");

    }
  });
  _modalHandler();
}


</script>

<%= form_for :alarm, url: alarm_path(@alarm), method: :patch do |f| %>
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h4 class="modal-title">Edit</h4>

    </div>
    <div class="modal-body">

      <div class="first_slide" id="first_slide">
        <div class="row">
          <div class="col-xs-12 col-time-input">
            <form class="form-inline" role="form">
              <div style="display:inline;">
                <span> I need to</span> <select id="alarm-type-selection"> <option>wakeup</option> <option>sleep</option> </select></div>
              <div class='input-append bootstrap-timepicker' style='display: inline;'>
                <span> at</span>
                <input id="timepicker"class='dateselect-time input-small timepicker' type='text'>
                <span class='add-on'><i class='icon-time glyphicon glyphicon-time'></i></span></input>
              </div>
            </form>
          </div>
        </div>
        <div class="row"> <div class="col-xs-6 form-inline"> <span>title:</span>     <%= f.text_field :title %></div> </div>

        <div class="row" style="margin-top:25px">
          <div class="col-xs-12">
            <form class="form-inline" role="form"><span>Alarm type: </span> <%= f.select(:wakeup_reminder_type, options_for_select(['call','sms']))%> </form> </div>
        </div>

        <div class="row"> 
          <div id="col-repeat-input" class="col-xs-12">
            <label class="checkbox-inline">REPEAT<input type="checkbox" id="repeat_days"/></label>
            <div id="checkbox-list-days">
              <% if @alarm.repeat_sunday == "true" %> 
                <label class="checkbox-inline"> <input type="checkbox" id="sunday" name="dayCheckBox" checked="" />sun</label>
              <% else %>
                <label class="checkbox-inline"> <input type="checkbox" id="sunday" name="dayCheckBox" />sun</label>
              <% end %>

              <% if @alarm.repeat_monday == "true" %> 
              <label class="checkbox-inline"> <input type="checkbox" id="monday" name="dayCheckBox" checked="" />mon</label>
              <% else %>
              <label class="checkbox-inline"> <input type="checkbox" id="monday" name="dayCheckBox"/>mon</label>
              <% end %>

              <% if @alarm.repeat_tuesday == "true" %> 
              <label class="checkbox-inline"> <input type="checkbox" id="tuesday" name="dayCheckBox" checked="" />tues</label>
              <% else %>
              <label class="checkbox-inline"> <input type="checkbox" id="tuesday" name="dayCheckBox"/>tues</label>
              <% end %>

              <% if @alarm.repeat_wednesday == "true" %> 
              <label class="checkbox-inline"> <input type="checkbox" id="wednesday" name="dayCheckBox" checked="" />wed</label>
              <% else %>
              <label class="checkbox-inline"> <input type="checkbox" id="wednesday" name="dayCheckBox"/>wed</label>
              <% end %>


              <% if @alarm.repeat_thursday == "true" %> 
              <label class="checkbox-inline"> <input type="checkbox" id="thursday" name="dayCheckBox" checked="" />thurs</label>
              <% else %>
              <label class="checkbox-inline"> <input type="checkbox" id="thursday" name="dayCheckBox"/>thurs</label>
              <% end %>

              <% if @alarm.repeat_friday == "true" %> 
              <label class="checkbox-inline"> <input type="checkbox" id="friday" name="dayCheckBox" checked="" />fri</label>
              <% else %>
              <label class="checkbox-inline"> <input type="checkbox" id="friday" name="dayCheckBox"/>fri</label>
              <% end %>


              <% if @alarm.repeat_saturday == "true" %> 
              <label class="checkbox-inline"> <input type="checkbox" id="saturday" name="dayCheckBox" checked="" />sat</label>
              <% else %>
              <label class="checkbox-inline"> <input type="checkbox" id="saturday" name="dayCheckBox"/>sat</label>
              <% end %>

            </div>
          </div><!--/.col-repeat-input -->   
        </div>
      </div>


      <div class="second_slide" id="second_slide">
        <div class="row">
          <div class=" col-xs-12">
            <h4 style="color:#999">Reminder</h4>

            <%= f.select(:sleep_reminder_type, ['call', 'sms', 'none'])%>
            <%= f.select( :sleep_reminder_time, options_for_select((0..60).step(5))) %>
            <%= f.select(:sleep_reminder_time_unit, ['minutes', 'hours'])%>
          </div>
        </div>
      </div>




      
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      <%= f.submit 'Submit', :class => 'btn btn-default', :id =>"second_click" %>
      <button type="button" id="first_click" class="btn btn-primary" onclick="nextSlide()">Next</button>
    </div>
  </div>
<% end %>




<script> 
  $('.timepicker').timepicker().on('show.timepicker', function(e) {
    e.preventDefault();
    console.log('The time is ' + e.time.value);
    var hour = $(".bootstrap-timepicker-hour").val();
    console.log('The hour is ' + e.time.showInputs);
    console.log('The minute is ' + e.time.minute);
    console.log('The meridian is ' + e.time.meridian);
  });
</script>


