<div class="row" >

  <div class="page-header col-xs-12 "> 
    <div class="col-xs-12"> <span class="headerTitle">alarms</span>   <%= link_to "+new", new_alarm_path, class:"btn btn-danger new_btn" %> </div>

  </div>

  <div class="col-xs-12">
    <div class="row alarm_list">
      <% if @alarms.present? %>
        <% @alarms.each do |alarm| %>

          <!-- alarm item -->
          <div class="row alarm_box">
            <div class="col-xs-12">

            <div class="col-xs-10 dayofweeks">
              <div class="alarm_title"> <%= alarm.title %> </div>
                    <span class="alarm_day <%= (alarm.repeat_sunday == '1')? "day_active"  :  "day_non_active"%>">SUN</span>
                    <span class="alarm_day <%= (alarm.repeat_monday == '1')? "day_active"  :  "day_non_active"%>">MON</span>
                    <span class="alarm_day <%= (alarm.repeat_tuesday == '1')? "day_active"  :  "day_non_active"%>">TUE</span>
                    <span class="alarm_day <%= (alarm.repeat_wednesday == '1')? "day_active"  :  "day_non_active"%>">WED</span>
                    <span class="alarm_day <%= (alarm.repeat_thursday == '1')? "day_active"  :  "day_non_active"%>">THU</span>
                    <span class="alarm_day <%= (alarm.repeat_friday == '1')? "day_active"  :  "day_non_active"%>">FRI</span>
                    <span class="alarm_day <%= (alarm.repeat_saturday == '1')? "day_active"  :  "day_non_active"%>">SAT</span>
                  </div>
                </div>
                  <br>

            <div class="description col-xs-9">

              <div class = "col-xs-12 sleep_div alarm-box-time">
                <div class="col-xs-1 alarm-icon">
                  <%  if alarm.sleep_reminder_type == 'call' %>
                    <span class="glyphicon glyphicon-earphone"></span>
                  <% else %>
                    <span class="glyphicon glyphicon-envelope"></span>
                  <% end %>
                </div>

                <div class = "col-xs-10">
                  <span class="time_label">sleep: </span>
                  <span class="time sleep"><%= alarm.sleeping_hour %>:<%= alarm.sleeping_minute %>&nbsp;<%= alarm.sleeping_ampm %> </span>
                  <br>
                  <span class="sleep_reminder" style="font-size:8pt;">reminder: <%= alarm.sleep_reminder_time%> min. before</span>
                </div> 
              </div>

              <div class = "col-xs-12 wake_div alarm-box-time">
                <div class="col-xs-1 alarm-icon">
                  <%  if alarm.wakeup_reminder_type == 'call' %>
                    <span class="glyphicon glyphicon-earphone"></span>
                  <% else %>
                    <span class="glyphicon glyphicon-envelope"></span>
                  <% end %>
                </div>
                <div class = "col-xs-10">
                  <span class="time_label">wake: </span>
                  <span class="time wake"><%= alarm.wakeup_hour %>:<%= alarm.wakeup_minute %>&nbsp;<%= alarm.wakeup_ampm %> </span>
                </div>
              </div>

            </div>
            <div class="col-xs-2">
              <div class="onoffswitch">
                <%= check_box_tag "onoffswitch",  "on" , alarm.is_dismiss == "on", :class => "onoffswitch-checkbox", :id => "myonoffswitch#{alarm.id}", "data-url" => toggle_alarm_path(alarm) %>

                <label class="onoffswitch-label" for="myonoffswitch<%= alarm.id %>">
                  <div class="onoffswitch-inner"></div>
                  <div class="onoffswitch-switch"></div>
                </label>
              </div>
              <div class="col-xs-1 alarm_content">
                <%= link_to alarm, confirm: 'Are you sure?', disable_with: 'deleting...', method: :delete, class: 'btn btn-danger btn-xs' do %>
                  <span class=" glyphicon glyphicon-remove small_font"></span><% end %><br><br>
                <a  href="/alarms/<%= alarm.id %>/edit" class= "btn btn-default btn-xs"><span>edit</span></a>
              </div>
            </div>


          </div>
        <%end%>
      <% else %>
      <% end %>  

    </div>
  </div>
</div>





