<meta name="viewport" content="width=device-width">
<div class="row" >
  <div class="col-xs-12 div-create-new-btn"/ >
    <%= link_to 'new', alarms_path,{:remote=>true, "data-toggle" => "modal", "data-target" => "#modal", :class => "btn btn-primary btn-lg", :id => "btn-create-new"} %>
</div>
<%= render 'new' %>
 
<div class="row" style="margin:15px;" >
  <div class="col-xs-12" style="margin:0 auto;">
    <div class="row alarm_list">


      <% if @alarms.present? %>
        <% @alarms.each do |alarm| %>
        
          <!-- alarm item -->

          <div class="list-group-item alarm-item" >
            
            <div class="row">
              <div class="col-xs-10">
                <h4 class="alarm_time" style="text-transform: lowercase;"><%= alarm.wakeup_hour%>:<%= alarm.wakeup_minute %> <%= alarm.wakeup_ampm  %></h4>
                <span class="list-group-item-text alarm-item-title"><%= alarm.title %></span><br>
                <small>
                  <span class="alarm_day <%= (alarm.repeat_sunday == 'true')? "day_active"  :  "day_non_active"%>">SUN</span>
                  <span class="alarm_day <%= (alarm.repeat_monday == 'true')? "day_active"  :  "day_non_active"%>">MON</span>&nbsp;
                  <span class="alarm_day <%= (alarm.repeat_tuesday == 'true')? "day_active"  :  "day_non_active"%>">TUES</span>&nbsp;
                  <span class="alarm_day <%= (alarm.repeat_wednesday == 'true')? "day_active"  :  "day_non_active"%>">WED</span>&nbsp;
                  <span class="alarm_day <%= (alarm.repeat_thursday == 'true')? "day_active"  :  "day_non_active"%>">THURS</span>&nbsp;
                  <span class="alarm_day <%= (alarm.repeat_friday == 'true')? "day_active"  :  "day_non_active"%>">FRI</span>&nbsp;
                  <span class="alarm_day <%= (alarm.repeat_saturday == 'true')? "day_active"  :  "day_non_active"%>">SAT</span>
                </small>
                <div class="reminder">  
                  <% if alarm.sleep_reminder_time != '0' %>
                    <%= alarm.sleep_reminder_time %> <%=alarm.sleep_reminder_time_unit %>
                    <%  if alarm.sleep_reminder_type == 'call' %>
                      <%= image_tag "ic_action_call.png" %>
                    <% else %>
                      <%= image_tag "ic_action_chat.png" %>
                    <% end %>
                  <% end %>
                </div>  
              </div>
              <div class="col-xs-2 btn-discard"> <%= button_to 'x', alarm, :method => :delete %></div> 
            
              <a data-toggle="modal" href="/alarms/<%= alarm.id %>/edit" data-target="#myModal">Click me !</a>
            </div>
          </div> 
        <%end%>
      <% else %>
        <h4>You have no alarm yet. Create alarm on the right.</h4>
      <% end %>   		
    </div>  
  </div>
</div>
</div>





<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                 <h4 class="modal-title">Edit</h4>

            </div>
            <div class="modal-body"><div class="te"></div></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
