<!-- myAlarms container -->
<div class="container myAlarms">
  <!-- Button trigger modal -->

  <%= form_for :alarm, url: alarms_path do |f| %>
    <%= f.hidden_field :wakeup_reminder_type%>
    <%= f.hidden_field :repeat_monday%>
    <%= f.hidden_field :repeat_tuesday%>
    <%= f.hidden_field :repeat_wednesday%>
    <%= f.hidden_field :repeat_thursday%>
    <%= f.hidden_field :repeat_friday%>
    <%= f.hidden_field :repeat_saturday%>
    <%= f.hidden_field :repeat_sunday%>
    <%= f.hidden_field :wakeup_hour, :value => 00 %>
    <%= f.hidden_field :wakeup_minute, :value => 00 %>
    <%= f.hidden_field :wakeup_ampm, :value => 'AM' %>

    <div id="modal" class="modal fade"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
      <div id="modal-dialog"  class="modal-dialog modal-dialog">
      </div> <! -- /.modal-dialog -->
    </div> <!-- /.modal -->
  <% end %>
</div>

<!-- Showing user's alarms -->
<div class="row" >
  <div class="col-md-12" style="margin:0 auto;"/ >
    <button id="btn-create-new" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#modal"><span class="glyphicon glyphicon-plus"></span></button>
  </div>
</div>

<div class="row" >
  <div class="col-md-12" style="margin:0 auto;">
    <div class="row alarm_list">
    <% if @alarms.present? %>
      <% @alarms.each do |alarm| %>
          <!-- alarm item -->
          <a href="#" class="list-group-item alarm-item">
            <h4 class="alarm_time" style="text-transform: lowercase;"><%= alarm.wakeup_hour%>:<%= alarm.wakeup_minute %> <%= alarm.wakeup_ampm  %></h4>
            <p class="list-group-item-text alarm-item-title"><%= alarm.title %></p>
            <small>
              <span class="alarm_day">MON</span>&nbsp;
              <span class="alarm_day <%= "day_active" if alarm.repeat_monday %>">TUE</span>&nbsp;
              <span class="alarm_day <%= "day_active" if alarm.repeat_tuesday %>">WED</span>&nbsp;
              <span class="alarm_day <%= "day_active" if alarm.repeat_wednesday  %>">THU</span>&nbsp;
              <span class="alarm_day <%= "day_active" if alarm.repeat_thursday %>">FRI</span>&nbsp;
              <span class="alarm_day <%= "day_active" if alarm.repeat_friday %>">SAT</span>&nbsp;
              <span class="alarm_day <%= "day_active" if alarm.repeat_sunday %>">SUN</span>
            </small>
            </a>       
        <%end%>
      <% else %>
        <h4>You have no alarm yet. Create alarm on the right.</h4>
      <% end %>   		
     </div>  
  </div>
</div>


</div> <!-- /.container myAlarms -->


<script> 
  $('#timepicker').timepicker().on('show.timepicker', function(e) {
    console.log('The time is ' + e.time.value);
    var hour = $(".bootstrap-timepicker-hour").val();
    console.log('The hour is ' + e.time.showInputs);
    console.log('The minute is ' + e.time.minute);
    console.log('The meridian is ' + e.time.meridian);
  });
</script>



