

<%= devise_error_messages! %>


  <!--
  <div id="carousel-example-captions" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carousel-example-captions" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-captions" data-slide-to="1" class=""></li>
      <li data-target="#carousel-example-captions" data-slide-to="2" class=""></li>
      <li data-target="#carousel-example-captions" data-slide-to="3" class=""></li>
      <li data-target="#carousel-example-captions" data-slide-to="4" class=""></li>
      <li data-target="#carousel-example-captions" data-slide-to="5" class=""></li>
    </ol>
    <div class="carousel-inner">
      <div class="item active">
        <img data-src="holder.js/900x300/auto/#777:#777" alt="900x300" src="/assets/hittingsnooze.jpg">

        <div class="carousel-caption carosel_text container">
          <h5>Do you angrily hit "snooze" each morning?</h5>
          <p>Zleep is here to help!</p>
        </div>
      </div>
      <div class="item">
        <img data-src="holder.js/900x300/auto/#666:#666" alt="900x300" src="/assets/fallasleepmiddleofday.jpg">
        <div class="carousel-caption carosel_text container">
          <h5>Feeling sluggish all day?</h5>
          <p>Try setting your alarm with Zleep's calculator feature!</p>
        </div>
      </div>
      <div class="item">
        <img data-src="holder.js/900x300/auto/#555:#5555" alt="900x300" src="/assets/sleepingduringmeetings.jpg">
        <div class="carousel-caption carosel_text container">
          <h5>Can't stay awake during that important meeting?</h5>
          <p>We will get you the right number of REM cycles each night!</p>
        </div>
      </div>
      <div class="item">
        <img data-src="holder.js/900x300/auto/#555:#5555" alt="900x300" src="/assets/asleeponwall.jpg">
        <div class="carousel-caption carosel_text container">
          <h5>Are you a zombie without your mid-day nap?</h5>
          <p>Wake up and try our App!!!</p>
        </div>
      </div>
      <div class="item">
        <img data-src="holder.js/900x300/auto/#555:#5555" alt="900x300" src="/assets/coffeemaker.jpg">
        <div class="carousel-caption carosel_text container">
          <h5>Fatigue, lethargy, and irritability got you down?</h5>
          <p>Try falling asleep with the Zleep music timer!</p>
        </div>
      </div>
      <div class="item">
        <img data-src="holder.js/900x300/auto/#555:#5555" alt="900x300" src="/assets/asleepatdesk.jpg">
        <div class="carousel-caption carosel_text container">
          <h5>Let Zleep! put you in control...</h5>
          <p>Scroll down and sign up below!</p>
        </div>
      </div>
    </div>
    <a class="left carousel-control" href="#carousel-example-captions" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#carousel-example-captions" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
  </div>
  --> 








  <div class = "login_section" >
    <div>
      <h2 class="login-label"> log in</h2>
      <%= content_tag(:div, flash[:error], :id => "flash_error") if flash[:error] %>
      <%= content_tag(:div, flash[:notice], :id => "flash_notice") if flash[:notice] %>
      <%= content_tag(:div, flash[:alert], :id => "flash_alert") if flash[:alert] %>
      <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :role => "form") do |f| %>
    </div>
    <div class="form-group">
      <%= f.email_field :email, :autofocus => true, :class => "form-control", :placeholder => "Enter email" %>
    </div>
    <div class="form-group">
      <%= f.password_field :password, :class => "form-control", :placeholder => "Enter Password" %>
    </div>
    <div class="form-group remember_me_grp" style="margin-bottom:;">
      <% if devise_mapping.rememberable? -%>
        <div><%= f.check_box :remember_me %> <%= f.label :remember_me, :class => "remember_me_label"%></div>
      <% end -%>
    </div>
      <div><%= f.submit "log in", :class => "btn btn-primary btn-login"  %> </div>

    <% end %>
    

  </div>





<!-- Modal -->

